absl-py
astor
cached-property
cycler
Cython
gast
grpcio
h5py
importlib-metadata
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
mock
numpy
opencv-python
Pillow
protobuf
pyparsing
python-dateutil
pygame
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
typing-extensions
Werkzeug
zipp